langchain
langchain-community 
fastapi
python-dotenv
langgraph
uvicorn[standard]
langsmith
huggingface_hub[hf_xet]
langgraph-cli[inmem]
pyodbc
aioodbc
langchain_openai 
langchain-google-genai
pandas
sqlalchemy 
sqlparse
langgraph-checkpoint-postgres
psycopg[binary,pool]
gunicorn 
redis