langchain
langchain-community 
fastapi
python-dotenv
langgraph
uvicorn[standard]
langsmith
huggingface_hub[hf_xet]
langgraph-cli[inmem]
pyodbc
langchain_openai 
pandas
sqlalchemy 
sqlparse
langgraph-checkpoint-postgres